.border{
    border: 2px solid red;
    margin: 2px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 15px;
}
.gap{
    gap: 10px;
}

.fadeOut{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}

.fadeIn{
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease-in 1s;
}

  